// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "no"
            // options "altwin:swap_lalt_lwin,ctrl:swapcaps"
            options "altwin:swap_lalt_lwin,caps:ctrl_modifier,shift:both_capslock_cancel"
        }
        repeat-delay 300
        repeat-rate 25
    }

    touchpad {
        // off  // managed by toggle-touchpad-script
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
        scroll-factor 0.5
        dwt  // Disable while typing -- managed by toggle-dwt-script
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        //accel-profile "flat"
        //accel-speed 0.0
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="20%"

    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
