binds {
    // https://docs.noctalia.dev/v5/ipc/
    Mod+Shift+Space { spawn-sh "noctalia msg panel-toggle launcher"; }

    // --- System ---
    Mod+Alt+L hotkey-overlay-title="Lock Screen" { spawn-sh "noctalia msg session lock"; }
    Mod+Alt+Shift+L { spawn-sh "noctalia msg session lock-and-suspend"; }
    Mod+Shift+Q hotkey-overlay-title="Power Menu" { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+Ctrl+Space { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Alt+B  { spawn-sh "~/.local/bin/toggle-noctalia-v5-bar-mode"; }
    Mod+Alt+Space  { spawn-sh "~/.local/bin/toggle-noctalia-v5-bar-mode"; }

    // ─── Media Controls ───
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "noctalia msg media next"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "noctalia msg media previous"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "noctalia msg media play"; }
    XF86AudioPause       allow-when-locked=true { spawn-sh "noctalia msg media pause"; }

    // ─── Brightness Controls ───
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }

}
