// cp this-host-example.kdl this-host.kdl && vim this-host.kdl

//include "./hosts/INSERT_HOSTNAME_HERE.kdl"

// Do not add any more settings in this file. Instead, add them to the config
// file in ./hosts/ included above.
