include "../cfg/keybinds-noctalia-v5.kdl"
include "../cfg/keybinds-tuxedo.kdl"
include "../cfg/outputs-tuxedo.kdl"

spawn-sh-at-startup "noctalia"
spawn-sh-at-startup "walker --gapplication-service"

switch-events {
    lid-close { spawn "noctalia" "msg" "session" "lock"; }
}
