* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: FontAwesome, Lexend, FiraCode;
    font-size: 15px;
    font-weight: 400;
    /* font-size: 14px; */
}

window#waybar {
    /* background: #000; */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.45) 75%, rgba(0, 0, 0, 0) 100%); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #fcfcfc;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-right {
    margin: 4px 4px 0px 4px;
    background-color: #111122;
    border-radius: 2px;
    border-color: rgba(92, 92, 92, 0.67);
    border-width: 2px;
    border-style: solid;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
/*     background-color: #3F3F3F; */
/* } */
/**/
/* window#waybar.chromium { */
/*     background-color: #000000; */
/*     border: none; */
/* } */

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    text-shadow: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
    /* transition: 0.2s; */
}

#workspaces {
    background-color: #111122;
    border-radius: 2px;
    border-color: rgba(92, 92, 92, 0.67);
    border-width: 2px;
    border-style: solid;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    border-radius: 0;
    color: #557;
}

/* When workspace is visible, but on an unfocused monitor */
#workspaces button.visible {
    /* background-color: rgba(140, 190, 255, 0.2); */
    /* box-shadow: inset 0 -1px lightgrey; */
    color: lightgrey;
    /* font-weight: bold; */
}

#workspaces button.active {  /* Currently active workspace */
    background-color: #222235;
    box-shadow: 0 0 0 2px rgba(51, 204, 255, 0.93);
    border-radius: 0.25px;
    border: none;
    color: white;
    font-weight: bold;
}

#workspaces button:hover {
    background-color: rgba(140, 190, 255, 0.2);
    color: white;
    box-shadow: 0 2px 0 0 rgba(0, 255, 153, 0.93);
    border-radius: 1px;
    transition: 0.1s;
    border: none;
}

#workspaces button.urgent {
    color: yellow;
    transition: 0;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #fcfcfc;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover {
    background-color: #222235;
}

#window,
#workspaces {
    margin: 4px 4px 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: 0; */
/* } */

#clock {
    background-color: transparent /*#64727D*/;
}

#battery {
    background-color: transparent;
}

/* #battery { */
/*     font-size: 15px; */
/* } */

#battery:hover {
    background-color: green;
}

#battery.charging, #battery.plugged {
    /* color: #26A65B; */
    color: lightgreen;
    background-color: transparent;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}
/* #pulseaudio { */
/*     min-width: 60px; */
/* } */

#custom-power {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 2px;
    padding-right: 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /*background-color: #2ecc71;*/
    /*color: #000000;*/
    color: white;
}

#memory {
    /*background-color: #9b59b6;*/
    background-color: transparent;
}

#disk {
    /*background-color: #964B00;*/
    background-color: transparent;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    /*background-color: #2980b9;*/
    background-color: transparent;
    padding-right: 15px; /* So that the icon is centered */
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    /*background-color: #f1c40f;*/
    background-color: transparent;
    color: white;
}

#pulseaudio.muted {
    /*background-color: #90b1b1;*/
    background-color: transparent;
    /*color: #2a5c45;*/
    color: lightgrey;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    /*background-color: #f0932b;*/
    background-color: transparent;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
